.component2Container{
    padding: 50px 0;
}

.component2Container .component2SubText{
    color: #898989;
    font-size: .8rem;
    font-weight: 400;
    padding: 0 10px;
}

.component2Container .buttons{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
